.contact_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  border: 2px solid #9b9b9b;
  border-radius: 15px;
  color: #9b9b9b;
  height: 289px;
}

.form_title {
  font-weight: 500;
  font-size: 24px;
  color: #38ef7d;
}

.add_btn {
  display: inline-flex;
  border-radius: 15px;
  background-color: #222222;
  margin-bottom: 20px;
  width: 200px;
  height: 40px;
  color: #9b9b9b;
  font-size: 1.3rem;
  align-items: center;
  justify-content: center;
  border: 2px solid #9b9b9b;
  cursor: pointer;
}
.add_btn:hover {
  color: #11998e;
  border: 2px solid #11998e;
}

.input_names {
  display: block;
}

.add_input {
  border-radius: 8px;
  height: 25px;
  margin-bottom: 25px;
  background-color: #222222;
  border: 2px solid #9b9b9b;
  color: #9b9b9b;
  font-size: 16px;
  transition: all 0.2s;
}

.add_input:focus-visible,
.add_input:hover {
  outline: none;
  border: 2px solid #11998e;
}
